/* * */
:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3:#ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color: var(--black);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
h3,
h4{
  font-weight: 500;
}
/* Header */
.header {
  position: relative;
}
.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
/* navigation */
.navigation{
    position: relative;
    height: 7rem;
    box-shadow:0 0.5rem 1.5rem rgba(0,0,0, .1);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;

}

.fix__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1200;
}

.nav__logo a {
    font-size: 2.5rem;
    color:var(--black);
    padding: 1.6rem;
    font-weight: 700;
}
.nav__hamburger{
    display: none;
    cursor: pointer;
}
.nav__hamburger svg{
    height: 2.3rem;
    width: 2.3rem;
}
.menu__top{
    display: none;
}
.nav__menu{
    width: 50%;
}
.nav__list{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}
.nav__item:not(:last-child){
    margin-right: 1.6rem;
}
.nav__list .nav__link:link,
.nav__list .nav__link:visited{
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
    transition:color .3s ease-in-out;
}
.nav__list .nav__link:hover{
    color: var(--orange);
}
.nav__icons{
    display: flex;
    position: relative;
}
.nav__icons .icon__item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.nav__icons .icon__item svg{
    width: 1.6rem;
    height: 1.6rem;
}
.nav__icons .icon__item:link,.nav__icons .icon__item:visited{
    color:var(--black);
}
.nav__icons .icon__item:hover{
    background-color: var(--orange);
    border: 1px solid var(--black);
}
.nav__icons .icon__item:not(:last-child){
    margin-right: 1rem;
}
.nav__icons #cart__total{
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--orange);
    padding: 0.2rem 0.4rem;
    border-radius: 100%;
    color: var(--primaryColor);
}

@media only screen and (max-width:768px) {
    .nav__menu{
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0;
        background-color: var(--white);
        z-index: 9990;
        height: 100%;
        transition: all .3s;
    }
    .nav__menu .open{
        left: 30rem;
        width: 30rem;
    }
    .nav__logo{
        width: 50%;
    }
    .nav__hamburger{
        display: block;
    }
    .menu__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--orange);
        padding: 1.8rem 1rem;
    }
    .menu__top svg{
        height: 1.6rem;
        width: 1.6rem;
        fill: var(--primaryColor);
    }
    .nav__category{
        color: var(--white);
        font-size: 2.3rem;
        font-weight: 700;
    }
    .nav__list{
        flex-direction: column;
        align-items:start;
        padding: 1.6rem 1rem;
    }
    .nav__item:not(:last-child){
        margin-right:0
    }
    .nav__item{
        width: 100%;
    }
    .nav__list .nav__link:link
    .nav__list .nav__link:visited{
        padding: 1.6rem 0;
        width: 100%;
        color: var(--grey2);
    }
    body.active::before{
        content: "";
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 110%;
        background: var(--black) none no-repeat 0 0;
        opacity: 0.7;
        z-index: 999;
        transition: .8s;
    }
}
@media only screen and (max-width:568px){
    .nav__icons .icon__item{
        padding: 0.5rem;
    }
}

/* Hero area */
.hero,
.hero .glide__slides{
    background-color: var(--primaryColor);
    position: relative;
    width: 100%;
    height: 100vh;
}
.hero .glide__bullet{
    background-color: var(--black);
    width: 1.2rem;
    height: 1.2rem;
}
.hero .glide__arrow{
    padding: 1.5rem 1.7rem;
    opacity: 0;
    border: none;
    background-color: var(--grey);
    transition:  all .5s ease-in-out 0.2s;
}
.glide__arrow:hover{
    background-color: var(--black3);
}
.glide__arrow--left{
    left: 20rem;
}

.glide__arrow--right{
    position: absolute;
    right: 20rem;
}
.hero:hover .glide__arrow{
    opacity: 1;
}
.hero:hover .glide__arrow--left{
    left: 23rem;
}
.hero:hover .glide__arrow--right{
    right: 23rem;
}
.hero .glide__arrow svg{
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--primaryColor);
}

.hero .glide__arrow{
    border-radius: 50%;
}

.hero__center{
    display: flex;
  
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
}

.hero__left{
    padding: 0 3rem;
    flex: 0 0 50%;
}

.hero__btn{
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--primaryColor);
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;
}

.hero__btn:focus{
    outline: none;
   
}
.hero__left .hero__btn:hover{
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
}

.hero__left h1{
    margin: 1rem 0;
}

.hero__left p {
    margin-bottom: 1rem;
}

.hero__right {
    flex:0 0 50%;
}

.hero__right img.banner_02{
    width: 70%;
}

@media only screen and (max-width:999px){
    .hero__center{
        flex-direction: column;
        text-align: center;
    }

    .hero__right{
        top: 50%;
        position: absolute;
    }
    .hero__left{
        position: absolute;
        padding: 0 1rem;
        top: 20%;
    }
    .hero__btn {
        padding: 1.1rem 2.8rem;
    }
    .hero .glide__arrow{
        display: none;
    }
}

/* Collection */
.section{
    padding: 3rem 0;
}

.collection{
    margin: 3rem 0;
}

.collection__container{
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.collection__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    flex: 0 0 48%;
    height: 30rem;
    background-color: var(--primaryColor);
}

.collection__box:not(:last-child){
    margin-right: 1.6rem;
}

.img__container{
    width: 25rem;
    text-align: center;
}

.collection__box img.collection_01{
    width: 60%;
}
.collection__box img.collection_02{
    width: 75%;
}

.collection__content{
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection__content span {
    color: var(--black);
}

.collection__content h1{
    margin-top: 0.5rem;
}
.collection__content a:link,
.collection__content a:visited{
    font-weight: 700;
    display: inline-block;
    padding: 1rem 1.4rem;
    margin-top: 1.3rem;
    border-radius: 3rem;
    color: var(--primaryColor);
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
}

.collection__content a:hover{
    background-color: transparent;
    color:  var(--secondaryColor);
}

/* collection media query */
@media only screen and (max-width:999px){
    .collection__container{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        height: 65rem;
    }
    .collection__box{
        width: 100%;
        margin: 0 auto;
    }
    .collection__box:not(:last-child){
        margin: 0 0 1.6rem;
    }
}
@media only screen and (max-width:568px) {
    .collection{
        margin: 0;
        position: relative;
    }
    .collection__container{
        width: 100%;
        height: 50rem;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .collection__box{
        justify-content: space-around;
        height: 15rem;
    }
    .collection__content{
        flex: 0 0 30%;
    }
    .collection__data span {
        font-size: 1.2rem;
    }
    .collection__data h1 {
        font-size: 2rem;
    }
}

/* latest product */
.title__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6rem;
    padding: 2rem 0;
    background-color: var(--primaryColor);
}

.section__title:not(:last-child){
    margin-right: 1.5rem;
}

.section__title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.section__title:hover .primary__title,
.section__title:hover span.dot,
.section__title:hover span.dot::before{
    opacity: 1;
}

.section__title .primary__title{
    opacity: 0.6;
    padding-left: 0.5rem;
    transition: opacity .3s ease-in-out;
}
.section__titles:not(:last-child){
    margin-right: 1.5rem;
}
span.dot { 
    opacity: 0.6;
    padding: 0.45rem;
    position: relative;
    border: 1px solid var(--black);
    cursor: pointer;
    transition:opacity 0.3s ease-in-out;
}
span.dot::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--black);
    background-color: var(--black);
    margin: 1px;
    opacity: 0.6;
}

.section__title.active span.dot{
    opacity:  1;
}

.section__title.active span.dot::before{
    opacity: 1;
}

.section__title.active .primary__title{
    opacity: 1;
}

.product{
    position: relative;
    text-align: center;
}

.product ul svg{
    width: 1.7rem;
    height: 1.7rem;
    fill: var(--white);
}

.product ul{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    width: 17rem;
    height: 5rem;
    background-color: rgba(255,255,255,0.5);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%,-50%) scale(0.7);
    transition:all 0.5s ease-in-out ;
}

.product:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}

.product ul a:not(:last-child) {
    margin-right: 1.6rem;
}

.product ul a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.product ul a:hover{
    background-color: var(--black);
}

.product ul a::before{
    content: "";
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    height: 0;
    width: 0;
    border-top: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    opacity: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.product ul a::after{
    content: "";
    position: absolute;
    bottom: -0.6rem;
    right: -0.6rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.product ul a:hover::before{
    width: 126%;
    height: 126%;
    border-top: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    opacity: 1;
}
.product ul a:hover::after{
    width: 126%;
    height: 126%;
    border-bottom: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    opacity: 1;
}


@media only screen and (max-width:567px){
    .title__container{
        flex-direction: column;
    }
    .section__titles:not(:last-child){
        margin:0 0 1.3rem;
    }
}

.product{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
}
.product__header{
    height: 25rem;
    padding: 0.5rem 0;
    text-align: center;
}
.product__header img{
    max-width: 100%;
    max-height: 100%;
}

.product__footer{
    padding: 1rem 0;
}

.product__footer .product__price{
    padding-bottom: 1rem;
}

.product__footer h3{
    padding: 1rem 0;
}

.rating svg{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--yellow);
}

.product__btn {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1.4rem 0;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
}
.product__footer h3 {
    font-size: 1.6rem;
  }
.product__btn:focus{
    outline: none;
}

.product__btn:hover{
    background-color: var(--black);
    color: var(--primaryColor);
}

.latest__products .glide__arrow,
.related__products .glide__arrow{
    background-color: transparent;
    border: 1px solid --primaryColor;
    outline: none;
    border-radius: 0;
    box-shadow: 0 .25em .5em rgba(0, 0, 0, 0);
    top: -7%;
    left: 80%;
}

.latest__products .glide__arrow:hover,
.related__products .glide__arrow:hover{
    background-color:var(--orange);
    border: 1px solid var(--primaryColor);
}
.latest__products .glide__arrow--left,
.related__products .glide__arrow--left{
    left: 75%;
}
.latest__products .glide__arrow--right,
.related__products .glide__arrow--right{
    right: 16%;
}
.latest__products .glide__arrow svg,
.related__products .glide__arrow svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--grey);
}
/* Latest media */
@media only screen and (max-width:999px){
    .product__header {
        height: 25rem;
      }
    
      .product {
        width: 70%;
        margin: 0 auto;
      }
    
      .latest__products .glide__arrow--left,
      .related__products .glide__arrow--left{
          left: 73%;
      }
      .latest__products .glide__arrow--right,
      .related__products .glide__arrow--right {
        right: 14%;
      }

}

@media only screen and (max-width:768px){
    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left{
        left: 70%;
    }
    .latest__products .glide__arrow--right,
    .related__products .glide__arrow--right {
      right: 12%;
    }
    
}
@media only screen and (max-width:568px){
    .product__header{
        height: 15rem;
    }
    .product__header img{
        width: 50%;
    }
    .product__footer h3{
        font-size: 1.4rem;
    }
    .product__btn{
        width: 100%;
        font-style: 1rem;
        padding: 0.8rem 0;
        border: 1px solid var(--black)
    }
    .product ul a {
        width: 2.7rem;
        height: 2.7rem;
    }
    .product ul{
        top: 25%;
        left: 50%;
        width: 16rem;
        height: 4rem;
    }
    .rating svg{
        width: 1.3rem;
        height: 1.3rem;
    }
    .latest__products .glide__arrow--left,
    .related__products .glide__arrow--left{
        left: 6%;
    }
    .latest__products .glide__arrow--right,
    .related__products .glide__arrow--right {
      left: 75%;
    }
    
}

@media only screen and (max-width:460px){
    .product__header{
        height: 12rem;
    }
    .product__footer h3{
        font-style: 1.2rem;
    }
}


/* Category center */
.category__center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem 2rem;
}

@media only screen and (max-width:999px) {
    .category__center{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .product .product__header{
        height: 10rem;
    }
    .product .product__header img {
        object-fit: contain;
    }
}
@media only screen and (max-width: 568px) {
    .category__center {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem 1rem;
    }
  
    .category__products .product__header {
      height: 10rem;
    }
  
    .category__products .product__header img {
      object-fit: contain;
    }
  }
/* pop up */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.3);
     z-index: 9999;
     transition: 0.3s;
     transform: scale(1);
}

.popup__content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 55rem;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    padding: 1.6rem;
    display: table;
    overflow: hidden;
    background-color: var(--white);
}

.popup__close{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1.5rem;
    background-color: var(--primaryColor);
    border-radius: 50%;
    cursor: pointer;
}

.popup__close svg{
    width: 1.7rem;
    height: 1.7rem;
}

.popup__left{
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
}
.popup__right{
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.popup-img__container{
    width: 100%;
    overflow: hidden;
}
.popup-img__container img.popup__img{
    display: block;
    width: 60rem;
    height: 45rem;
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.right__content{
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.right__content h1{
    font-size: 4rem;
    color: #000;
    margin-bottom: 1.6rem;
}

.right__content h1 span{
    color: var(--green);
}
.right__content p {
    font-size: 1.8rem;
    color: var(--grey2);
    margin-bottom: 1.6rem;
}
.popup__form{
    width: 100%;
    padding: 2rem 0;
    text-indent: 1rem;
    margin-bottom: 1.6rem;
    border-radius: 3rem;
    background-color: var(--primaryColor);
    border: none;

}
.popup__form:focus{
    outline: none;
}
.right__content a:link,
.right__content a:visited{
    display: inline-block;
    padding: 1.8rem 5rem;
    border-radius: 3rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid --grey2;
    transition: 0.3s;
}
.right__content a:hover{
    background-color: var(--green);
    border: 1px solid var(--grey2);
    color: var(--black);
}

.hide__popup{
    transform: scale(0.2);
    opacity: 0;
    visibility: hidden;
}

/* go to top */
.goto-top:link,
.goto-top:visited{
    position: fixed;
    right: 2%;
    bottom: 10%;
    padding: 0.8rem 1.4rem;
    background-color: var(--orange);
    visibility: hidden;
    cursor: pointer;
    transition: 0.3s;
    animation: bounce 2s ease-in-out infinite;
}
.show-top:link,
.show-top:visited{
    visibility:visible;
    z-index: 1999;
}


@keyframes bounce {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    } 
}

.goto-top svg{
    height: 1.3rem;
    width: 1.3rem;
    fill: var(--white);
}
.goto-top:hover{
    background-color: var(--black4);
}

/* popup media query */
@media only screen and (max-width:1200px) {
    .right__content{
        width: 100%;
    }
    .right__content h1{
        font-size: 3.5rem;
        margin-bottom: 1.3rem;
    }
}
@media only screen and (max-width:999px){
    .popup__right{
        width: 100%;
    }
    .popup__left{
        display: none;
    }
    .right__content h1{
        font-size:5rem ;
    }
}
@media only screen and (max-width:768px){
    .right__content h1{ 
        font-size: 4rem;
    }
    .right__content p {
        font-size: 1.6rem;
    }
    .popup__form{
        width: 90%;
        margin: 0 auto;
        padding: 1.8rem 0;
        margin-bottom: 1.5rem;
    }
    .goto-top:link,
.goto-top:visited{
    right: 5%;
    bottom: 5%;
}
}

@media only screen and (max-width:568px){
    .popup__right{
        padding: 0 1.6rem;
    }
    .right__content{
        width: 100%;
    }

    .popup__content{
        height: 35rem;
        width: 90%;
        margin: 0 auto;
    }
    .right__content h1{
        font-size: 3rem;
    }
    .right__content p{
        font-size: 1.4rem;
    }
    .popup__form{
        width: 100%;
        padding: 1.5rem 0;
        margin-bottom: 1.3rem;
    }
    
    .right__content a:link,
    .right__content a:visited{
        padding: 1.5rem 3rem;
    }

    .popup__close{
        top: 1rem;
        right: 1rem;
        padding: 1.3rem;
    }
    .popup__close svg{
        width: 1.4rem;
        height: 1.4rem;
    }
}

/* Facility */
.facility__section{
    background-color: var(--primaryColor);
    padding: 6rem 0;
}
.facility__container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
}
.facility-img__container svg{
    width: 3rem;
    height: 3rem;
    transition: 1s;
    perspective: 4000;
    fill: var(--black);
}
.facility__box{
    text-align: center;
}
.facility-img__container{
    position: relative;
    display: inline-block;
    line-height: 9.5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1.5px solid var(--white);
    z-index: 1;
    margin-bottom: 1.6rem;
}
.facility-img__container::before{
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.7rem;
    background-color: var(--white);
    z-index: -1;
}

.facility__box:hover svg{
    transform: rotateY(180deg);
    line-height: 9.5rem;
}

/* facility media */
@media only screen and (max-width:999px) {
    .facility__container{
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
    }
}

@media only screen and (max-width:568px){
    .facility__container{
        grid-template-columns:1fr;
    }
    .facility-img__container{
        width: 7rem;
        height: 7rem;
        line-height: 8.5rem;
    }
    .facility__container p{
        font-size: 1.4rem;
    }
}

/* testimonial */
.testimonial{
    position: relative;
    background: url("./images/testimonial.jpg") center/cover no-repeat;
    height: 50rem;
    padding: 5rem 0;
    z-index: 1;
    text-align: center;
}
.testimonial::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.client__image{
    margin-bottom: 3rem;
}

.client__image img{
    width: 7rem;
    height: 7rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    color: #ccc;
}

.testimonial__box p{
    width: 70%;
    margin: 0 auto;
    line-height: 2.5rem;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.client__info h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.client__info span{
    font-size: 1.4rem;
}

.testimonial .glide__bullets{
    bottom: -15%;
}

/* testimonial media */
@media only screen and (max-width:1200px){
    .testimonial__box{
        height: 100%;
    }
    .testimonial__box p {
        width: 90%;
        margin: 0 auto;
        line-height: 2.2rem;
        margin-bottom: 3rem;
    }
    .client__image{
        margin-bottom: 2.5rem;
    }
}

@media only screen and (max-width:568px){
    .testimonial{
        height: 100%;
        padding: 4rem 0 5rem;
        z-index: 1;
        text-align: center;
    }
    .testimonial__box{
        height: 100%;
    }
    .testimonial__box p {
        width: 100%;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .testimonial__box span{
        margin-bottom: 1rem;
    }
    .testimonial .glide__bullets{
        bottom: -8%;
    }
}

/* news */
.news{
    padding-bottom: 8rem;
}
.new__card{
    background-color: var(--primaryColor);
    width: 95%;
    margin: 0 auto;
}
.new__card:not(:last-child){
    margin-right: 1rem;
}
.card__footer{
    padding: 3rem 1.4rem;
}
.card__footer h3{
    font-style: 2.5rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 1rem;
}
.card__footer span{
    display: inline-block;
    margin-right: 1rem;
    color: var(--black2);
}
.card__footer p {
    font-size: 1.5rem;
    color: var(--black2);
    margin-bottom: 1.6rem;
    line-height: 2.7rem;
}
.card__footer a:link,
.card__footer a:visited{
    display: inline-block;
    padding: 1.4rem 4rem;
    border: 1px solid var(--black);
    color: var(--black);
    transition:all 0.3s;
}
.card__footer a:hover{
    border: 1px solid var(--black);
    color: var(--white);
    background-color:var(--black);
}


/* Newsletter */
.newsletter{
    padding: 6rem 0;
    border-top: 1px solid var(--primaryColor);
}

.newsletter__content{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.newsletter__data h3{
    font-size: 2.4rem;
    font-weight: inherit;
    margin-bottom: 1rem;
}

.newsletter__data p{
    font-size: 1.5rem;
    color: var(--black);
}

.newsletter__email{
    font-style: 1.4rem;
    display: inline-block;
    width: 37rem;
    padding: 1.6rem;
    background-color: var(--primaryColor);
    border: none;
    text-indent: 1rem;
}

.newsletter__email:focus{
    outline: none;
}

.newsletter__link:link,
.newsletter__link:visited{
    display: inline-block;
    padding: 1.4rem 3rem;
    margin-left: -0.5rem;
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}

.newsletter__link:hover{
    background-color: #000;
}

/* Newsletter media */
@media only screen and (max-width:999px) {
    .newsletter{
        padding: 6rem 4rem;
    }
    .newsletter__content{
        flex-direction: column;
        align-items: center;
    }
    .newsletter__email{
        width: 45rem;
    }
    .newsletter__data{
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width:768px){
    .newsletter__content{
       justify-content: center;
       text-align: center;
    }
    .newsletter__email{
       display: block;
       margin-bottom: 1.6rem;
    }
    .newsletter__data h3{
        font-size: 1.6rem;
    }
    .newsletter__data p{
        font-size: 1.1rem;
    }
    .newsletter__link:link,
    .newsletter__link:visited{
    
    padding: 1.2rem 2rem;
    margin-left: 0rem;
    }
}

/* Footer */
.footer{
    background-color: var(--black3);
    padding: 6rem 1rem;
    line-height: 3rem;
}
.footer-top__box span svg{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--grey3);
}
.footer-top__box span{
    margin-right: 1rem;
}
.footer-top{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: var(--grey3);
}
.footer-top__box a:link,
.footer-top__box a:visited{
    display: block;
    color: var(--grey);
    font-size: 1.4rem;
    transition: 0.6s;
}
.footer-top__box a:hover{
    color: var(--orange);
}
.footer-top__box div{
    color: var(--grey);
    font-size: 1.4rem;
}
.footer-top__box h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width:999px){
    .footer-top{
        grid-template-columns: repeat(2,1fr);
        row-gap: 2rem;
    }
}
@media only screen and (max-width:568px){
    .footer-top{
        grid-template-columns: 1fr;

    }
}





/** Button */
button {
    margin: 0;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
  }
  
  .btn {
    font-size: 14px;
    line-height: 1.4;
    padding: 13px 20px;
    border-radius: 4px;
    transition: box-shadow 0.1s, top 0.1s;
    box-shadow: 0 3px 0 rgba(0,0,0,0.3);
    top: 0;
    background: #fff;
  }
  .btn:hover {
    box-shadow: 0 3px 0 transparent;
    top: 3px;
  }
  .btn:active {
    background: #f2f2f2;
  }
  
  /** Modal */
  .modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 100vw;
    height: 99vh;
    margin: 0 auto;
    padding: 30px;
    background:var(--white);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  .modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    background:var(--white);
  }
  .modal-close-btn svg{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--gray);
  }
  .modal-content{
    padding-top: 15px;
  }
  /** Overlay */
  .overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /** JS */
  .is-visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
  }
  